/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../theme/fonts/poppins-v5-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Poppins Light'), local('Poppins-Light'),
  url('../theme/fonts/poppins-v5-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../theme/fonts/poppins-v5-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../theme/fonts/poppins-v5-latin-300.woff') format('woff'), /* Modern Browsers */
  url('../theme/fonts/poppins-v5-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../theme/fonts/poppins-v5-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../theme/fonts/poppins-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins Regular'), local('Poppins-Regular'),
  url('../theme/fonts/poppins-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../theme/fonts/poppins-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../theme/fonts/poppins-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../theme/fonts/poppins-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../theme/fonts/poppins-v5-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../theme/fonts/poppins-v5-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Poppins Medium'), local('Poppins-Medium'),
  url('../theme/fonts/poppins-v5-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../theme/fonts/poppins-v5-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../theme/fonts/poppins-v5-latin-500.woff') format('woff'), /* Modern Browsers */
  url('../theme/fonts/poppins-v5-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../theme/fonts/poppins-v5-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../theme/fonts/poppins-v5-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
  url('../theme/fonts/poppins-v5-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../theme/fonts/poppins-v5-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../theme/fonts/poppins-v5-latin-600.woff') format('woff'), /* Modern Browsers */
  url('../theme/fonts/poppins-v5-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../theme/fonts/poppins-v5-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../theme/fonts/poppins-v5-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Poppins Bold'), local('Poppins-Bold'),
  url('../theme/fonts/poppins-v5-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../theme/fonts/poppins-v5-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../theme/fonts/poppins-v5-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../theme/fonts/poppins-v5-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../theme/fonts/poppins-v5-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* Global Style */
body {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

.cars-textbox {
  height: 120px;
  padding-top: 20px
}

.box {
  border: 1px solid #ddd;
  transition: .5s;
  margin-bottom: 30px;
}

/* Navigation */
.main-menu {
  padding-top: 0;
  padding-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  color: #f9de2b;
  background-color: #000;
  height: 80px;
}

.main-menu .navbar-nav > li > a,
.main-menu .navbar-nav .dropdown-menu li > a {
  color: #f9de2b;
  background-color: #000;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 30px 15px;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 600;
}

.main-menu.tiny .navbar-nav > li.active > a,
.main-menu.tiny .navbar-nav .dropdown-menu > li.active > a {
  color: #f9de2b;
  background-color: #000;
}

.main-menu .navbar-nav > li > a:hover,
.main-menu .navbar-nav .dropdown-menu > li > a:hover {
  color: #0b33c2;
  background-color: #000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.main-menu .navbar-nav > .active > a,
.main-menu .navbar-nav > .active > a:hover,
.main-menu .navbar-nav > .active > a:focus,
.main-menu .navbar-nav .dropdown-menu > .active > a,
.main-menu .navbar-nav .dropdown-menu > .active > a:hover,
.main-menu .navbar-nav .dropdown-menu > .active > a:focus {
  color: #0b33c2;
  background-color: #000;
}

.main-menu .dropdown-menu {
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
}

.main-menu .dropdown-menu > li {
  height: 80px;
}

.navbar-brand img {
  width: 70%;
}

.navbar-rating {
  display: inline-block;
  margin: 15px 0 0 30px;
  text-align: center;
}

.rating-empty {
}

.rating-full {
  color: gold;
}

/* Button */
.btn {
  background-color: #000;
  color: #fff;
  padding: 15px;
}

.btn:hover {
  background-color: #0b33c2;
  text-decoration: none;
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 99999;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}

.loaded {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(/theme/images/preloading.gif);
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
  background-size: cover;
  margin: -20px 0 0 -20px;
}

/* Welcome */
.welcome-header {
  padding-top: 180px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: no-repeat fixed center top;
  height: 100%;
  overflow: hidden;
  min-height: 900px;
  color: #000;
}

.heading-text {
  padding-top: 120px;
}

.heading-text .button a i {
  border: 1px solid #585b60;
  padding: 6px 7px;
  color: #585b60;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
}

.heading-text .button a:hover i {
  border: 1px solid #fff;
  color: #fff;
}

/* Benefits */
.benefits {
}

.benefits-container {
}

.benefits-item {
}

.benefits-content {
  height: 220px;
}

.benefits-content h4 {
}

.benefits-content:after,
.benefits-content:before {
}

.benefits-content:after {
}

.benefits-content:before {
}

.benefits-content p {
  color: #696969;
}

.benefits-circle {
  font-size: 40px;
}

.benefits-circle i {
}

/* Offices */
.stores-heading-text {
  padding-bottom: 30px;
}

.store-box {
  border: 1px solid #ddd;
  transition: .5s;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.store-box ul li {
  padding: 15px 20px;
}

.store-box ul li img {
  padding-right: 7px;
}

.store-textbox {
  height: 400px;
  padding: 15px;
}

/* Fahrzeuge */
.vehicle-textbox {
  padding-left: 10px;
  padding-right: 10px;
}

/* Bestanden und Filialen */
#passed-gallery img {
  width: 70%;
  margin: auto;
}

/* Kurse */
.course-container {
  padding: 50px;
  margin-bottom: 50px;
  background-color: #ffffff;
  box-shadow: -2px 40px 34px -24px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 7px #0b33c2;
  border-left-color: #f9de2b;
  border-right-color: #f9de2b;
}

.course-header {
}

.course-footer {
  margin-top: 30px;
}

.course-container .register-btn {
  margin-top: 10px !important;
}

/* Sticky container */
.sticky-container {
  position: fixed;
  top: 35%;
  right: 0;
  left: auto;
  z-index: 1000;
  width: 64px;
}

.sticky-container .sticky-item {
  cursor: pointer;
  padding: 6px 0 6px 12px;
  background-color: #f9de2b;
  height: 56px;
}

.sticky-container .sticky-item:hover {
  width: 74px;
  margin-left: -10px;
  transition: all 0.3s ease;
}

.sticky-container .sticky-item .fa {
  color: #0b33c2;
}

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.day-cell {
  width: 100px;
}

.content {
  padding: 130px 0px 40px 0px;
  overflow: hidden;
}

/* Parallax section */
.parallax {
  padding-top: 140px;
  padding-bottom: 140px;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
  color: #fff;
}

/* Section */
.section-space-padding {
  padding: 140px 0;
}

.section-title {
  text-align: center;
}

.section-title h2 {
  margin-top: 0;
  font-weight: 600;
  font-size: 30px;
}

.section-title p {
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 40px;
}

.box-border {
  padding: 50px;
  background-color: #ffffff;
  box-shadow: -2px 40px 34px -24px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 7px #0b33c2;
  border-left-color: #f9de2b;
  border-right-color: #f9de2b;
}

.statistics {
  padding: 20px;
  height: 190px;
  background-color: #d90e27;
  color: #b8b6b5;
  border-radius: 10px;
}

.statistics-icon {
  font-size: 50px;
}

.divider > i {
  color: #f7639a;
  font-size: 21px;
}

.divider {
  position: relative;
  width: 126px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.divider:after,
.divider:before {
  content: ' ';
  width: 43px;
  position: absolute;
  border-bottom: dotted 2px #ffffff;
  top: 50%;
  margin-top: -4px;
}

.divider:before {
  left: 0;
}

.divider:after {
  right: 0;
}

.divider.dark:after,
.divider.dark:before {
  border-color: #b2b2b2;
}

/* Contact request */
.contact-request-success h3 {
  color: #fff;
}

/* Footer */
.social {
  padding: 70px 0 40px 0;
  margin-left: -10px;
}

.social a {
  margin-left: 10px;
}

.social a i {
  font-size: 14px;
  color: #D2D3D5;
  padding: 7px;
  border: 1px solid #D2D3D5;
  border-radius: 50%;
  background: #FFFFFF;
  width: 30px;
  height: 30px;
  transition: .5s;
}

.social a:hover i {
  color: #fff;
  border: 1px solid #fff;
  background: #FF3366;
  transform: scale(1.2);
}

.copyright:before {
  border-top: 1px solid #D2D3D5;
  width: 20%;
  padding-top: 30px;
  content: "";
  margin: 0 auto;
  display: block;
}

.copyright p {
  color: #D2D3D5;
  font-size: 17px;
  padding: 40px;
}

.copyright p i {
  padding: 0 10px;
  color: #ff0000;
}

.copyright p a {
  padding: 0 10px;
  color: green;
}

/* Responsive part */
@media only screen and (max-width: 1199px) {
  .benefits-item {
    width: auto;
  }

  .benefits-circle i {
    font-size: 30px;
  }

  .benefits-content {
    margin-left: 75px;
    height: auto;
  }

  .benefits-content:after,
  .benefits-content:before {
    top: 30%;
  }

  a.navbar-brand img {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-toggle {
    border-color: #b8b6b5;
    margin-top: 20px;
  }

  .navbar-toggle .icon-bar {
    background-color: #b8b6b5;
  }

  .navbar-collapse {
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.88);
  }

  .benefits-container {
    margin-left: 0;
  }

  .benefits_content {
    margin: auto;
  }

  .statistics {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 500px) {
  a.navbar-brand img {
    width: 50px;
    height: 50px;
  }

  .benefits {
    margin-left: 0;
    border: 0;
  }

  .benefits-circle {
    position: static;
    margin: 0 auto 20px;
  }

  .benefits-content {
    padding: 10px 15px;
    margin-left: 0;
    text-align: center;
  }

  .benefits-content:after,
  .benefits-content:before {
    display: none;
  }
}

@media only screen and (max-width: 379px) {
  a.navbar-brand {
    display: none;
  }
}