/* Sections */
.section-space-padding {
  padding: 140px 0;
}

/* Fahrzeuge */
.cars-textbox {
  height: 120px;
  padding-top: 20px
}

/* Kurse */
.course-container {
  padding: 50px;
  margin-bottom: 50px;
  background-color: #ffffff;
  box-shadow: -2px 40px 34px -24px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 7px #000;
  border-left-color: #d90e27;
  border-right-color: #d90e27;
}
.courses-storebox {
  padding-bottom: 50px;
}
.course-header {
  padding-bottom: 30px;
}
.course-footer {
  margin-top: 30px;
}
.course-container .register-btn {
  margin-top: 10px!important;
}

/* Sticky container */
.sticky-container {
  position: fixed;
  top: 35%;
  right: 0;
  left: auto;
  z-index: 1000;
  width: 64px;
}
.sticky-container .sticky-item {
  cursor: pointer;
  padding: 6px 0 6px 12px;
  background-color: #d90e27;
  height: 56px;
}
.sticky-container .sticky-item:hover {
  width: 74px;
  margin-left: -10px;
  transition: all 0.3s ease;
}
.sticky-container .sticky-item .fa {
  color: #b8b6b5;
}
