
/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .text-lg-center {
    text-align: center;
  }
  .pull-lg-right {
    float: right;
  }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .text-md-center {
    text-align: center;
  }
  .pull-md-right {
    float: right;
  }
}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .text-sm-center {
    text-align: center;
  }
  .pull-sm-right {
    float: right;
  }
}

/* Extra Small devices (tablets, 767px and down) */
@media only screen and (max-width: 768px) {
}
