
/* Kurse */
.course-container {
  padding: 50px;
  margin-bottom: 50px;
  background-color: #ffffff;
  box-shadow: -2px 40px 34px -24px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 7px #000;
  border-left-color: #d90e27;
  border-right-color: #d90e27;
}
.courses-storebox {
  padding-bottom: 50px;
}
.course-header {
  padding-bottom: 30px;
}
.course-footer {
  margin-top: 30px;
}
.course-container .register-btn {
  margin-top: 10px!important;
}

.cars-textbox {
  height: 120px;
  padding-top: 20px;
  background-color: #fff;
}

.box {
  border: 1px solid #ddd;
  transition: .5s;
  margin-bottom: 30px;
}

#footer {
}

.top_text {
  padding-top: 10px;
  height: 420px;
}

.heading-text {
  padding-top: 120px;
  color: #fff;
}

.btn {
  background-color: #fb7005;
  color: #000;
  font-size: 16px;
}
.btn:hover {
}
.btn:visited {
  color: #000;
}
.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus {
  color: #fb7005;
}

.table {
  display: table;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
}

/* filialen */
.store-textbox {
  height: 480px;
  background: #fb7005;
  padding: 10px 16px 10px 15px;
}

.contact-request-success h3 {
}
.offices-bg {
  padding-top: 100px;
}

.sticky-container {
  width: 74px;
}
.sticky-container .sticky-item:hover {
  width: 84px;
}
.sticky-container .sticky-item {
  background-color: #fb7005;
}
.sticky-container .sticky-item .fa {
  color: #ffffff;
}

.navbar-rating {
  display: inline-block;
  margin: 15px 0;
  text-align: center;
}
.rating-empty {}
.rating-full {
  color: gold;
}

.single_works_text {
  height: 220px;
}
.single_works_text:hover i {
  color: #fb7005;
  border: 1px solid #fb7005;
}
.section-space-padding {
  padding: 140px 0;
}

.about-me-text {
  padding: 50px;
  background-color: #ffffff;
  box-shadow: -2px 40px 34px -24px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 7px #000;
  border-left-color: #fb7005;
  border-right-color: #fb7005;
}

/*Responsive part*/

@media (min-width: 992px) and (max-width: 1199px) {
  a.navbar-brand img {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 769px) and (max-width: 991px){
  a.navbar-brand img {
    width: 50px;
    height: 50px;
  }
  .navbar-contact {
    margin-left: 8px;
  }
  .offices-bg {
    background-repeat: repeat;
  }
  .top_text {
    height: 100%;
  }
}

@media (max-width: 768px) {
  a.navbar-brand img {
    width: 50px;
    height: 50px;
  }
  .navbar-contact {
    margin-left: 8px;
  }
  .offices-bg {
    background-repeat: repeat;
  }
  .top_text {
    height: 100%;
  }
}

@media (min-width: 340px) and (max-width: 442px) {
  a.navbar-brand img {
    width: 50px;
    height: 50px;
  }
  .navbar-contact {
    margin-left: 8px;
  }
  .navbar-contact .contact-number {
    display: none;
  }
  .offices-bg {
    background-repeat: repeat;
  }
  .top_text {
    height: 100%;
  }
}

@media (min-width: 280px) and (max-width: 340px) {
  a.navbar-brand img {
    display: none;
  }
  .navbar-contact {
    margin-left: 8px;
  }
  .navbar-contact .contact-number {
    display: none;
  }
  .top_text {
    height: 100%;
  }
}

@media (max-width: 279px) {
  a.navbar-brand img {
    display: none;
  }
  .navbar-contact {
    margin-left: 8px;
  }
  .navbar-contact .contact-number {
    display: none;
  }
}

@media (max-width: 220px) {
  a.navbar-brand img {
    display: none;
  }
  .navbar-contact .contact-number {
    display: none;
  }
}
